<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de empleado</h3>
    <form action="" (ngSubmit)="OnSubmit()" #empleadoForm="ngForm">
        <div class="form-group">
            <label for="">Nombre : </label>
            <input type="text"
            class="form-control"
            id="nombre"
            [(ngModel)]="empleado.nombre"
            name="nombre" required="Digite su nombre"
            placeholder="Digite su nombre"
            minlength="4"
            maxlength="10"
            #nombre="ngModel"

            >
            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf="nombre.errors?.['required']">
                    Digite su nombre por favor

                </div>
                <div *ngIf="nombre.errors?.['minlength']">
                    El nombre tiene que contener como minimo 4 caracteres

                </div>
                <div *ngIf="nombre.errors?.['maxlength']">
                    El nombre tiene que contener como maximo 10 caracteres

                </div>
        </div>

        </div>
        <div class="form-group">
            <label for="">Apellido : </label>
            <input type="text"
            class="form-control"
            id="apellido"
            [(ngModel)]="empleado.apellido"
            name="apellido"required="Digite su apellido"
             minlength="4"
             maxlength="10"
            placeholder="Digite su apellido"
            #apellido="ngModel"
            >
            <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                <div *ngIf="apellido.errors?.['required']">
                   Digite su apellido por favor

                </div>
                <div *ngIf="nombre.errors?.['minlength']">
                    El apellido tiene que contener como minimo 4 caracteres

                </div>
                <div *ngIf="nombre.errors?.['maxlength']">
                    El apellido tiene que contener como maximo 10 caracteres

                </div>
        </div> 

https://www.anerbarrena.com/html5-email-input-1837/
        </div>
        <div class="form-group">
            <label for="">Email : </label>
            <input type="text"
            class="form-control"
            id="email"
            [(ngModel)]="empleado.email"
            name="email"required
            pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
            placeholder="Digite su email"
            #email="ngModel"

            >
            <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors?.['required']">
                   Digite su email por favor

                </div>
                <div *ngIf="email.errors?.['pattern']">
                        Por Favor Digite Su Email con el siguiente formato : user100@gmail.com
                </div>
                
        </div> 


        </div>
        <button class="btn btn-success mt-3"[disabled]="!empleadoForm.form.valid">Registrar</button>

    </form>

</div>
